@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: auto;
  height: auto;
  transition: 0.3 ease all;
  -webkit-transition: 0.3 ease all;
  -moz-transition: 0.3 ease all;
  -ms-transition: 0.3 ease all;
  -o-transition: 0.3 ease all;
}

/* home page */
#img {
  width: 50%;
  height: auto;
  min-height: 50px;
  max-height: 100px;
  transition: 0.3 ease all;
  -webkit-transition: 0.3 ease all;
  -moz-transition: 0.3 ease all;
  -ms-transition: 0.3 ease all;
  -o-transition: 0.3 ease all;
}
#anime-highlight {
  width: 30vw;
  height: 600px;
  right: 1vw;
  filter: brightness(50%);
  overflow: hidden;
  padding: 50px;
  -webkit-filter: brightness(50%);
}

#donghua-highlight {
  width: 400px;
  filter: opacity(20%);
  -webkit-filter: opacity(20%);
}

/* end home page */

/* anime page */

/* home page anime */
#grid-ongoing-anime-home {
  position: relative;
  padding: 1em;
  overflow: hidden;
  height: 56em;
  width: 81em;
}

#grid-complete-anime-home {
  position: relative;
  padding: 1em;
  overflow: hidden;
  height: 38em;
  width: 81em;
}

#ongoing-home-image,
#complete-home-image {
  width: 150px;
  height: 200px;
  filter: opacity(40%);
  -webkit-filter: opacity(40%);
}
#highlight-jadwal-anime {
  left: 74vw;
  width: 24vw;
}

@media screen and (max-width: 1280px) {
  #grid-ongoing-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    height: 56em;
    width: 75vw;
  }
  #grid-complete-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    height: 38em;
    width: 75vw;
  }
  #jadwal {
    left: 75vw;
    width: 22vw;
  }
}

@media screen and (max-width: 1024px) {
  #grid-ongoing-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    height: 56em;
    width: 95vw;
  }
  #grid-complete-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    height: 38em;
    width: 95vw;
  }
}
@media screen and (max-width: 480px) {
  #ongoing-home-image,
  #complete-home-image {
    width: 150px;
    height: 150px;
    filter: opacity(40%);
    -webkit-filter: opacity(40%);
  }
  #grid-ongoing-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    height: 43em;
    width: 95vw;
  }
  #grid-complete-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    height: 29.4em;
    width: 95vw;
  }

  #details-anime-home {
    margin-top: -45px;
  }
  @media screen and (max-width: 320px) {
    #navbar {
      margin-top: 30px;
    }
  }
}
/* end home page anime */

/* end anime page */
