@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: auto;
  height: auto;
  transition: 0.3 ease all;
  -webkit-transition: 0.3 ease all;
  -moz-transition: 0.3 ease all;
  -ms-transition: 0.3 ease all;
  -o-transition: 0.3 ease all;
}

/* home page */
#img {
  width: 50%;
  height: auto;
  min-height: 50px;
  max-height: 100px;
  transition: 0.3 ease all;
  -webkit-transition: 0.3 ease all;
  -moz-transition: 0.3 ease all;
  -ms-transition: 0.3 ease all;
  -o-transition: 0.3 ease all;
}
#anime-highlight {
  width: 30vw;
  height: 600px;
  right: 1vw;
  filter: brightness(50%);
  overflow: hidden;
  padding: 50px;
  -webkit-filter: brightness(50%);
}

#donghua-highlight {
  width: 400px;
  filter: opacity(20%);
  -webkit-filter: opacity(20%);
}

/* end home page */

/* anime page */

/* home page anime */
#grid-ongoing-anime-home {
  position: relative;
  padding: 1em;
  overflow: hidden;
  width: 81em;
}

#grid-complete-anime-home {
  position: relative;
  padding: 1em;
  overflow: hidden;
  width: 81em;
}

#ongoing-home-image,
#complete-home-image {
  width: 150px;
  height: 200px;
  filter: opacity(40%);
  -webkit-filter: opacity(40%);
}
#highlight-jadwal-anime {
  left: 74vw;
  width: 24vw;
}
  
#grid-ongoing-anime-home {
  height: 56em;
}
#grid-complete-anime-home {
  height: 37em;
}


@media screen and (max-width: 1280px) {
  #grid-ongoing-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    width: 74vw;
  }
  #grid-complete-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    width: 74vw;
  }
  

  #jadwal {
    left: 75vw;
    width: 22vw;
  }
}

@media screen and (max-width: 1023px) {
  #grid-ongoing-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    width: 97vw;
  }
  #grid-complete-anime-home {
    position: relative;
    padding: 1em;
    overflow: hidden;
    width: 97vw;
  }

}


@media screen and (max-width:769px){
  #grid-ongoing-anime-home {
    height: 56em;
    width: 95vw;
  }
  #grid-complete-anime-home {
    height: 37em;
    width: 95vw;
  }
}






/* end home page anime */

/* end anime page */
